body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../prosmotr_poluchennogo_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:28px;
    top:153px;
    width:953px;
    height:747px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:959px;
    height:753px;
}

.u1 {
    position:absolute;
    left:2px;
    top:366px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:28px;
    top:24px;
    width:181px;
    height:61px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:61px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:60px;
    top:204px;
    width:494px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:362px;
    top:282px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:52px;
    top:312px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:52px;
    top:385px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:53px;
    top:169px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../prosmotr_poluchennogo_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:213px;
    top:169px;
    width:103px;
    height:114px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:114px;
}

.u10 {
    position:absolute;
    left:2px;
    top:49px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:400px;
    top:169px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:262px;
    top:45px;
    width:655px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:300px;
    top:392px;
    width:495px;
    height:112px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:400px;
    top:230px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:400px;
    top:308px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:182px;
    top:772px;
    width:167px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:359px;
    top:772px;
    width:191px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:52px;
    top:529px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:300px;
    top:536px;
    width:495px;
    height:112px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:560px;
    top:772px;
    width:188px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_normal {
    background-image: url('../prosmotr_poluchennogo_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:302px;
    top:668px;
    width:151px;
    height:76px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:82px;
}

.u22 {
    position:absolute;
    left:2px;
    top:22px;
    width:147px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../prosmotr_poluchennogo_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:493px;
    top:668px;
    width:302px;
    height:76px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:82px;
}

.u24 {
    position:absolute;
    left:2px;
    top:22px;
    width:298px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:60px;
    top:668px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:761px;
    top:772px;
    width:167px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

