body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Prosmotr_profilya_delegata_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:28px;
    top:153px;
    width:953px;
    height:652px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:959px;
    height:658px;
}

.u1 {
    position:absolute;
    left:2px;
    top:318px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:28px;
    top:24px;
    width:181px;
    height:61px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:61px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:60px;
    top:204px;
    width:494px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:362px;
    top:282px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:53px;
    top:307px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:53px;
    top:544px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:53px;
    top:169px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Prosmotr_profilya_delegata_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:315px;
    top:169px;
    width:103px;
    height:114px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:114px;
}

.u10 {
    position:absolute;
    left:2px;
    top:49px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:53px;
    top:357px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:262px;
    top:45px;
    width:655px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:300px;
    top:551px;
    width:495px;
    height:112px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:54px;
    top:403px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:52px;
    top:461px;
    width:262px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:300px;
    top:706px;
    width:205px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:522px;
    top:706px;
    width:249px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

