body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Upravlenie_-_companii_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:775px;
    top:109px;
    width:236px;
    height:44px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:50px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:232px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Upravlenie_-_companii_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:28px;
    top:153px;
    width:1265px;
    height:424px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1271px;
    height:430px;
}

.u3 {
    position:absolute;
    left:2px;
    top:204px;
    width:1261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_container {
    position:absolute;
    left:28px;
    top:24px;
    width:181px;
    height:61px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:61px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:262px;
    top:45px;
    width:655px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Upravlenie_-_companii_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:60px;
    top:223px;
    width:1199px;
    height:306px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1205px;
    height:312px;
}

.u8 {
    position:absolute;
    left:2px;
    top:145px;
    width:1195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:362px;
    top:191px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Upravlenie_-_companii_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:294px;
    top:182px;
    width:214px;
    height:42px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:48px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:210px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Upravlenie_-_companii_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:60px;
    top:182px;
    width:214px;
    height:42px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:48px;
}

.u13 {
    position:absolute;
    left:2px;
    top:12px;
    width:210px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:98px;
    top:272px;
    width:1146px;
    height:192px
}

.u15_normal {
    background-image: url('../Upravlenie_-_companii_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:201px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Upravlenie_-_companii_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:205px;
    top:0px;
    width:139px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:135px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Upravlenie_-_companii_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:344px;
    top:0px;
    width:199px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:195px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Upravlenie_-_companii_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:543px;
    top:0px;
    width:112px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:108px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Upravlenie_-_companii_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:655px;
    top:0px;
    width:171px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:167px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Upravlenie_-_companii_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:826px;
    top:0px;
    width:169px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Upravlenie_-_companii_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:995px;
    top:0px;
    width:146px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Upravlenie_-_companii_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:36px;
    width:205px;
    height:43px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:49px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Upravlenie_-_companii_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:205px;
    top:36px;
    width:139px;
    height:43px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:49px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Upravlenie_-_companii_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:344px;
    top:36px;
    width:199px;
    height:43px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:49px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Upravlenie_-_companii_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:543px;
    top:36px;
    width:112px;
    height:43px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:49px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Upravlenie_-_companii_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:655px;
    top:36px;
    width:171px;
    height:43px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:49px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Upravlenie_-_companii_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:826px;
    top:36px;
    width:169px;
    height:43px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:49px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Upravlenie_-_companii_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:995px;
    top:36px;
    width:146px;
    height:43px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:49px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Upravlenie_-_companii_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:79px;
    width:205px;
    height:46px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:52px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Upravlenie_-_companii_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:205px;
    top:79px;
    width:139px;
    height:46px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:52px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Upravlenie_-_companii_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:344px;
    top:79px;
    width:199px;
    height:46px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:52px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Upravlenie_-_companii_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:543px;
    top:79px;
    width:112px;
    height:46px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:52px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Upravlenie_-_companii_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:655px;
    top:79px;
    width:171px;
    height:46px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:52px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Upravlenie_-_companii_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:826px;
    top:79px;
    width:169px;
    height:46px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:52px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Upravlenie_-_companii_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:995px;
    top:79px;
    width:146px;
    height:46px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:52px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Upravlenie_-_companii_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:125px;
    width:205px;
    height:62px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:68px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Upravlenie_-_companii_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:205px;
    top:125px;
    width:139px;
    height:62px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:68px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Upravlenie_-_companii_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:344px;
    top:125px;
    width:199px;
    height:62px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:68px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Upravlenie_-_companii_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:543px;
    top:125px;
    width:112px;
    height:62px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:68px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Upravlenie_-_companii_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:655px;
    top:125px;
    width:171px;
    height:62px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:68px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Upravlenie_-_companii_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:826px;
    top:125px;
    width:169px;
    height:62px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:68px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Upravlenie_-_companii_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:995px;
    top:125px;
    width:146px;
    height:62px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:68px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Upravlenie_-_companii_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:529px;
    top:109px;
    width:236px;
    height:44px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:50px;
}

.u72 {
    position:absolute;
    left:2px;
    top:12px;
    width:232px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Upravlenie_-_companii_files/u71_normal.png');
}

.u73_container {
    position:absolute;
    left:28px;
    top:109px;
    width:236px;
    height:44px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:50px;
}

.u74 {
    position:absolute;
    left:2px;
    top:12px;
    width:232px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Upravlenie_-_companii_files/u71_normal.png');
}

.u75_container {
    position:absolute;
    left:283px;
    top:109px;
    width:236px;
    height:44px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:50px;
}

.u76 {
    position:absolute;
    left:2px;
    top:12px;
    width:232px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Upravlenie_-_companii_files/u12_normal.png');
}

.u77_container {
    position:absolute;
    left:528px;
    top:180px;
    width:214px;
    height:42px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:48px;
}

.u78 {
    position:absolute;
    left:2px;
    top:12px;
    width:210px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

